.nav {
  border: 1px solid #ccc;
  width: 100%;
  background: black;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}

.nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
